{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var people_url = "{{=URL('api', 'get_people')}}";
    var like_image_url = "{{=URL('api', 'like_image', user_signature=False)}}";
    var unlike_image_url = "{{=URL('api', 'unlike_image', user_signature=False)}}";
    var toggle_like_url = "{{=URL('api', 'toggle_like', user_signature=False)}}";
    var current_user = "{{=auth.user.username if auth.user_id else None}}";
    console.log("Current user is " + current_user);
</script>
{{end}}

<h1>{{=auth.user.username}}'s Feed</h1>
{{for image in images:}}
    <div class="row">
        <div class="col-md-1"></div>
        <div class = "col-md-10">
            <img class="image img-rounded img-responsive center-block" src="{{=URL('default', 'download', args=image.image_content)}}" />
            <br />
            <div class="col-sm-1"></div>
            {{if not auth.user.username in image.like_list:}}
                <i id="like" class="fa fa-heart-o" v-on:click="toggle_like({{=image.id}})"></i>
            {{else:}}
                <i id="like" class="fa fa-heart" v-on:click="toggle_like({{=image.id}})"></i>
            {{pass}}
            <b><a href="{{=URL('profile',args=(image.author))}}">{{=image.author}}</a></b>: {{=image.caption}}
            <div class="col-sm-1"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
{{pass}}
