{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main">
        {{if auth.user_id:}}

            <div class="row">
                <div class="heading">
                    <a href="{{=URL('default','index')}}">
                        <img width="100" height="100" src="{{=URL('static', 'images/ico.png')}}"/>
                    </a>
                    <h1>{{=auth.user.username}}'s Feed</h1>
                </div>

                <div style="background-color: #e0dbe2">
                    <table>
                        <tr>
                            <td>
                                <a href="{{=URL('default','profile')}}" class="btn btn-primary">
                                    <i class="fa fa-user" aria-hidden="true"></i> Profile
                                </a>
                            </td>
                            <td>
                                <a href="{{=URL('default','upload')}}" class="btn btn-info">
                                    <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                </a>
                            </td>
                            <td>
                                <a href="{{=URL('default','search')}}" class="btn btn-warning">
                                    <i class="fa fa-search" aria-hidden="true"></i> Search
                                </a>
                            </td>
                            <td>
                                <a href="{{=URL('default','user', args=['logout'])}}" class="btn btn-danger">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {{for image in images:}}
                <div class = "instagram_feed text-center" >
                    <img class="image" width="500" height="500" src="{{=URL('default', 'download', args=image.image_content)}}" />
                    <br />
                    <b>{{=image.author}}</b>: {{=image.caption}}
                </div>
            {{pass}}

        {{else:}}
            <div style="text-align: center">
                <div><img width="470" height="160" src="lifeinvader/static/images/logo.png"/></div>
                <a href="{{=URL('default','user', args=['register'])}}" class="btn btn-danger btn-lg"><h2>Sign Up</h2></a>
                <br><br>
                <a href="{{=URL('default','user', args=['login'])}}" class="btn btn-warning btn-sm">Already have an account? Log in here</a>
            </div>
        {{pass}}
    </div>

    <div class="col-md-2"></div>
</div>