{{extend 'layout.html'}}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 main">
        {{if auth.user_id:}}

            <div class="row">
                <div class="col-xs-8">
                    <h1>{{=get_firstname_from_email(auth.user.email)}}'s Feed</h1>
                </div>

                <div class="col-xs-4"id="logout">
                    <a href="{{=URL('default','profile')}}" class="btn btn-primary">Profile</a>
                    <a href="{{=URL('default','user', args=['logout'])}}" class="btn btn-danger">Logout</a>
                    <a href="{{=URL('default','upload')}}" class="btn btn-info">Upload</a>
                    <a href="{{=URL('default','search')}}" class="btn btn-primary">Search</a>
                </div>
            </div>
            {{for image in images:}}
                <div class = "instagram_feed text-center" >
                    <img width="500" height="500" src="{{=URL('default', 'download', args=image.image_content)}}" />
                    <br />
                    <b>{{=get_screenname(image.author)}}</b>: {{=image.caption}}
                </div>
            {{pass}}

        {{else:}}
            <h1>Hey there, I noticed you're not logged in!</h1>
            <a href="{{=URL('default','user', args=['login'])}}" class="btn btn-success">Login</a>
            <a href="{{=URL('default','user', args=['register'])}}" class="btn btn-success">Sign Up</a>
        {{pass}}
    </div>

    <div class="col-md-2"></div>
</div>