{{extend 'layout.html'}}
{{block head}}
<script>
    var current_profile = "{{=user}}";
    console.log("Current user is " + current_user);
    console.log("Currently on " + current_profile + "\'s profile");
    var toggle_follow_url = "{{=URL('api', 'toggle_follow')}}";
    var p_is_following = "{{=1 if auth.user.username in user_profile.audience_list else 0}}";
    var f_count = "{{=audience_count}}";
    console.log("is_following: " + p_is_following);
</script>
{{end}}

<div id="profile">
    <div>
        <section class="image-wrapper">
        {{if user == auth.user.username:}}
              <span class="image-overlay">
                <a href="{{=URL('default','edit_profile')}}"><span class="content"><b>Edit Profile</b></span></a>
              </span>
        {{pass}}
                <img class="profile_pic img-responsive img-thumbnail img-circle" src="{{=URL('default', 'download', args=user_profile.pp)}}">
        </section>
    </div>
    <div>
        <span id="header1">{{=user}}'s Profile</span>
    </div>

    <div id="follow" v-if="!my_profile()">
            <button class="button button2" v-if="is_following" v-on:click="toggle_follow(); follower_count -= 1;">Following</button>
            <button class="button button1" v-if="!is_following" v-on:click="toggle_follow(); follower_count += 1;">Follow</button>
    </div>

    <div style="float: right">
        <div><p id="header3">${follower_count}<br>Followers</p></div>
        <div><p id="header3">{{=follower_count}}<br>Following</p></div>
    </div>


</div>

<div>
    {{=bio}}
</div>

<hr>

{{for image in images:}}
    <div class="row">
        <div class="col-md-1 col-lg-2"></div>
        <div class = "col-md-10 col-lg-8">
            <img class="image img-rounded img-responsive center-block" src="{{=URL('default', 'download', args=image.image_content)}}" />
            <div class="likes_comments">
                <i id="like" class="fa{{=' fa-heart-o' if not auth.user.username in image.like_list else ' fa-heart'}}" onclick="change_icon(this)" v-on:click="toggle_like({{=image.id}})" style="color:red"></i>

                <!--<input id="toggle-heart" type="checkbox" />
                <label for="toggle-heart" aria-label="like"  v-on:click="toggle_like({{=image.id}})" style="{{='color: #e2264d' if auth.user.username in image.like_list else ''}}">❤</label>-->

                {{=len(image.like_list)}}
                {{if len(image.like_list) != 1:}} likes
                {{else:}} like{{pass}}
                {{if auth.user.username == image.author:}}
                    <a v-on:click="del_image({{=image.id}})" href="#/" class="pull-right"><i class="fa fa-trash-o"></i> Delete</a>
                {{pass}}
                <br/>
                <a v-on:click="add_comment_button({{=image.id}})" href="#/"><i class="fa fa-comment-o"></i> Add Comment</a>
                <br />
                <div v-if="is_adding_comment && adding_id == {{=image.id}}">
                    <form action="#" v-on:submit.prevent="add_comment(form_comment_content, {{=image.id}})" class="form-horizontal" enctype="multipart/form-data" method="post">
                    <div class="form-group" id="table_comment_content__row">
                        <div>
                            <textarea class="form-control string" id="table_comment_content" name="comment_content" v-model="form_comment_content" placeholder="ayyy lmao" rows="3"></textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group" id="submit_record__row">
                        <div>
                            <input v-if="form_comment_content" class="btn btn-primary" id="add_comment_submit" v-on:click="add_comment_button({{=image.id}})" type="submit" value="Submit" />
                            <input v-if="!form_comment_content" class="btn btn-primary disabled" id="disabled_submit"  value="Submit" />
                        </div>
                    </div>
                    </form>
                </div>
                <b><a href="{{=URL('profile',args=(image.author))}}">{{=image.author}}</a></b>: {{=image.caption}}
                <div v-for="comment in comments" v-if="comment.image_id == {{=image.id}}">
                    <b><a  href="#" v-on:click="goto_profile(comment.commenter)">${comment.commenter}</a></b>: ${comment.comment_content}
                    <a v-on:click="del_comment(comment.id)" href="#/" v-if="own_comment(comment.commenter)" class="pull-right"><i class="fa fa-trash-o"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
{{pass}}