{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns="http://www.w3.org/1999/html"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post')}}";
    var people_url = "{{=URL('api', 'get_people')}}";
    var do_search_url = "{{=URL('api', 'do_search')}}";
    var current_user = "{{=auth.user.email if auth.user_id else None}}";
    var auth_username = "{{=auth.user.username if auth.user_id else None}}";
    var current_profile = "{{=user}}";
    console.log("Current user is " + auth_username);
    console.log("Currently on " + current_profile + "\'s profile");
    var edit_bio_url = "{{=URL('api', 'edit_bio')}}";
    var toggle_follow_url = "{{=URL('api', 'toggle_follow')}}";
</script>
{{end}}

<h1><img class="profile_pic img-responsive img-circle" src="{{=URL('default', 'download', args=user_profile.pp)}}"> {{=user}}'s Profile</h1>

<h2>Followers: {{=follower_count}}</h2>
<div>
    {{=bio}}
</div>
<br />
{{if user != auth.user.username:}}
    {{if auth.user.username not in user_profile.audience_list:}}
        <button class="btn btn-success" v-on:click="toggle_follow()">Follow</button>
    {{else:}}
        <button class="btn btn-success" v-on:click="toggle_follow()">Following</button>
    {{pass}}
{{pass}}

<!-- This is about to get weird, I'm transitioning from web2py to vue so I can do an inline bio edit -->
<button v-if="my_profile()" v-on:click="edit_bio_button()">Edit Bio!</button>
<div v-if="is_editing_bio">
    <!--<form action="#" v-on:submit.prevent="edit_bio()" class="form-horizontal" enctype="multipart/form-data" method="post">
        <textarea class="form-control string" name="bio_content" v-model="placeholder"></textarea>
        <input class="btn btn-primary" id="edit_bio_submit" type="submit" value="Post" />
    </form>
    <button class="btn btn-warning" v-on:click="refresh_page()">Cancel</button>-->
    Placeholder.
</div>

{{for image in images:}}
    <div class="row">
        <div class="col-md-1"></div>
        <div class = "col-md-10">
            <img class="image img-rounded img-responsive center-block" src="{{=URL('default', 'download', args=image.image_content)}}" />
            <br />
            <div class="col-sm-1"></div>
            {{if not auth.user.username in image.like_list:}}
                <i id="like" class="fa fa-heart-o" v-on:click="toggle_like({{=image.id}})"></i>
            {{else:}}
                <i id="like" class="fa fa-heart" v-on:click="toggle_like({{=image.id}})"></i>
            {{pass}}
            {{=len(image.like_list)}}
            {{if len(image.like_list) != 1:}} likes
            {{else:}} like{{pass}}
            <br>
            <b><a href="{{=URL('profile',args=(image.author))}}">{{=image.author}}</a></b>: {{=image.caption}}
            <div class="col-sm-1"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
{{pass}}
