{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}" xmlns="http://www.w3.org/1999/html"></script>
<script>
    var people_url = "{{=URL('api', 'get_people')}}";
    var do_search_url = "{{=URL('api', 'do_search')}}";
    var current_user = "{{=auth.user.email if auth.user_id else None}}";
    var auth_username = "{{=auth.user.username if auth.user_id else None}}";
    var current_profile = "{{=user}}";
    console.log("Current user is " + auth_username);
    console.log("Currently on " + current_profile + "\'s profile");
    var edit_bio_url = "{{=URL('api', 'edit_bio')}}";
    var toggle_follow_url = "{{=URL('api', 'toggle_follow')}}";

    var p_is_following = "{{=1 if auth.user.username in user_profile.audience_list else 0}}";
    var f_count = "{{=follower_count}}";
    console.log("is_following: " + p_is_following);

    var vfollower_count = "{{=follower_count}}";
</script>
{{end}}

<h1>{{=user}}'s Profile</h1>
<h2>Followers: ${follower_count}</h2>
<div>
    {{=bio}}
</div>
<br />
<div v-if="!my_profile()">
    <button class="btn btn-success" v-if="is_following" v-on:click="toggle_follow(); follower_count -= 1;">Following</button>
    <button class="btn btn-success" v-if="!is_following" v-on:click="toggle_follow(); follower_count += 1;">Follow</button>
</div>


{{for image in images:}}
    <div class="row">
        <div class="col-md-1"></div>
        <div class = "col-md-10">
            <img class="image img-rounded img-responsive center-block" src="{{=URL('default', 'download', args=image.image_content)}}" />
            <br />
            <div class="col-sm-1"></div>
            <b><a href="{{=URL('profile',args=(image.author))}}">{{=image.author}}</a></b>: {{=image.caption}}
            <div class="col-sm-1"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
{{pass}}
