{{extend 'layout.html'}}
<h2>Search for friends</h2>
{{=form}}
{{if people:}}
<h3>Results</h3>
<table>
   {{for user in people:}}
   <td>{{=A(user.username, _href=URL('profile',args=user.username))}}</td>
            {{if db(db.follow.followee == user.email).count():}}
                 <td><button onclick="ajax('{{=URL('follow',args=('unfollow',user.email))}}',[],null);$(this).parent().html('Unfollowed')">Unfollow</button></td>
            {{else:}}
                 <td><button onclick="ajax('{{=URL('follow',args=('follow',user.email))}}',[],null);$(this).parent().html('Followed')">Follow</button></td>
            {{pass}}
   {{pass}}
</table>
{{pass}}