/*
 * Changing the background of the whole "body", I figure we can make the background of the container
 * to give some nice contrast
 */
/* line 6, ../sass/_main.scss */
body {
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Verdana, Geneva, sans-serif;
}

/* line 13, ../sass/_main.scss */
.heading {
  padding: 10px 0px 10px 10px;
}

/* line 17, ../sass/_main.scss */
.main {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: #fff;
  padding-bottom: 20px;
}

/* line 23, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 27, ../sass/_main.scss */
#logout {
  padding-top: 20px;
}

/* line 31, ../sass/_main.scss */
.image {
  height: 500px;
  margin-top: 5px;
  vertical-align: top;
  text-align: center;
  width: 700px;
  border: 1px solid #021a40;
}

/* line 41, ../sass/_main.scss */
.profile_pic {
  height: 100px;
  width: 100px;
  padding: 1px;
  border: 1px solid #021a40;
}

/* line 48, ../sass/_main.scss */
.profile_pic-sm {
  height: 30px;
  width: 30px;
  padding: 1px;
  border: 1px groove #021a40;
}

/* line 56, ../sass/_main.scss */
#search-div .form-horizontal {
  padding: 20px 40px 0 20px;
}
/* line 60, ../sass/_main.scss */
#search-div #submit_record__row {
  padding: 5px 0px 0px 25px;
}
/* line 63, ../sass/_main.scss */
#search-div #submit_record__row button {
  padding: 5px 0px 5px 0;
}

/* line 71, ../sass/_main.scss */
table .search_table {
  border-collapse: collapse;
  width: 100%;
}
/* line 75, ../sass/_main.scss */
table .search_table th {
  text-align: left;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 81, ../sass/_main.scss */
table .search_table td {
  text-align: left;
  padding: 8px;
}

/* line 89, ../sass/_main.scss */
#profile > div {
  display: inline-block;
}

/* line 93, ../sass/_main.scss */
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
}

/* line 103, ../sass/_main.scss */
#header1 {
  font-family: 'Raleway',sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  vertical-align: bottom;
}

/* line 112, ../sass/_main.scss */
#header3 {
  padding-top: 10px;
  padding-right: 30px;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

/* line 122, ../sass/_main.scss */
#header4 {
  margin-top: 50px;
  padding-top: 10px;
  padding-right: 30px;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

/* line 133, ../sass/_main.scss */
.image-wrapper-sm {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: 1px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}

/* line 143, ../sass/_main.scss */
.image-wrapper-sm img {
  height: 100%;
  width: 100%;
}

/* line 149, ../sass/_main.scss */
.image-wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}

/* line 159, ../sass/_main.scss */
.image-wrapper img {
  height: 100%;
  width: 100%;
}

/* line 164, ../sass/_main.scss */
.image-wrapper .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  display: none;
}

/* line 175, ../sass/_main.scss */
.image-wrapper:hover .image-overlay {
  display: block;
  text-align: center;
}

/* line 180, ../sass/_main.scss */
.image-wrapper .image-overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 150px;
  margin-top: -10px;
  margin-left: -75px;
}

/* line 190, ../sass/_main.scss */
#follow {
  padding-left: 20px;
}

/* line 193, ../sass/_main.scss */
#follow > .button {
  padding: 7px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

/* line 205, ../sass/_main.scss */
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

/* line 211, ../sass/_main.scss */
.button1:hover {
  background-color: #4CAF50;
  color: white;
}

/* line 216, ../sass/_main.scss */
.button2 {
  background-color: #4CAF50;
  color: white;
  border: 2px solid white;
}

/* line 222, ../sass/_main.scss */
.button2:hover {
  background-color: #ca1721;
  color: white;
}

/* line 227, ../sass/_main.scss */
.likes_comments {
  margin-left: 7%;
  margin-right: 7%;
}
/* line 231, ../sass/_main.scss */
.likes_comments form {
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 10px;
}
/* line 236, ../sass/_main.scss */
.likes_comments form .form-group #add_comment_submit {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #117e47;
}
/* line 242, ../sass/_main.scss */
.likes_comments form .form-group #add_comment_submit:hover {
  background-color: #0b512e;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 296, ../sass/_main.scss */
[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}
/* line 300, ../sass/_main.scss */
[id='toggle-heart']:checked + label {
  color: #e2264d;
  filter: none;
  will-change: font-size;
  animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
/* line 306, ../sass/_main.scss */
[id='toggle-heart']:checked + label:before, [id='toggle-heart']:checked + label:after {
  animation: inherit;
  animation-timing-function: ease-out;
}
/* line 311, ../sass/_main.scss */
[id='toggle-heart']:checked + label:before {
  will-change: transform, border-width, border-color;
  animation-name: bubble;
}
/* line 316, ../sass/_main.scss */
[id='toggle-heart']:checked + label:after {
  will-change: opacity, box-shadow;
  animation-name: sparkles;
}
/* line 322, ../sass/_main.scss */
[id='toggle-heart']:focus + label {
  text-shadow: 0 0 3px white, 0 1px 1px white, 0 -1px 1px white, 1px 0 1px white, -1px 0 1px white;
}

/* line 329, ../sass/_main.scss */
[for='toggle-heart'] {
  align-self: center;
  position: relative;
  color: #888;
  font-size: 2em;
  filter: grayscale(1);
  user-select: none;
  cursor: pointer;
}
/* line 338, ../sass/_main.scss */
[for='toggle-heart']:before, [for='toggle-heart']:after {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
}
/* line 346, ../sass/_main.scss */
[for='toggle-heart']:before {
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #e2264d;
  width: 4.5rem;
  height: 4.5rem;
  transform: scale(0);
}
/* line 354, ../sass/_main.scss */
[for='toggle-heart']:after {
  margin: -0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
  box-shadow: 0.32476rem -3rem 0 -0.1875rem #ff8080, -0.32476rem -2.625rem 0 -0.1875rem #ffed80, 2.54798rem -1.61656rem 0 -0.1875rem #ffed80, 1.84982rem -1.89057rem 0 -0.1875rem #a4ff80, 2.85252rem 0.98418rem 0 -0.1875rem #a4ff80, 2.63145rem 0.2675rem 0 -0.1875rem #80ffc8, 1.00905rem 2.84381rem 0 -0.1875rem #80ffc8, 1.43154rem 2.22414rem 0 -0.1875rem #80c8ff, -1.59425rem 2.562rem 0 -0.1875rem #80c8ff, -0.84635rem 2.50595rem 0 -0.1875rem #a480ff, -2.99705rem 0.35095rem 0 -0.1875rem #a480ff, -2.48692rem 0.90073rem 0 -0.1875rem #ff80ed, -2.14301rem -2.12438rem 0 -0.1875rem #ff80ed, -2.25479rem -1.38275rem 0 -0.1875rem #ff8080;
}

@keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}
@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem;
  }
  30%, 100% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0;
  }
}
@keyframes sparkles {
  0%, 20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080, -0.32476rem -2.0625rem 0 0rem #ffed80, 2.1082rem -1.26585rem 0 0rem #ffed80, 1.41004rem -1.53985rem 0 0rem #a4ff80, 2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8, 0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff, -1.35019rem 2.0552rem 0 0rem #80c8ff, -0.60229rem 1.99916rem 0 0rem #a480ff, -2.44865rem 0.22578rem 0 0rem #a480ff, -1.93852rem 0.77557rem 0 0rem #ff80ed, -1.70323rem -1.77366rem 0 0rem #ff80ed, -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}
