/*
 * Changing the background of the whole "body", I figure we can make the background of the container
 * to give some nice contrast
 */
/* line 6, ../sass/_main.scss */
body {
  background: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Verdana, Geneva, sans-serif;
}

/* line 13, ../sass/_main.scss */
.heading {
  padding-top: 20px;
  padding-left: 20px;
}

/* line 18, ../sass/_main.scss */
.main {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  background-color: #fff;
  padding-bottom: 20px;
}

/* line 24, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 28, ../sass/_main.scss */
#logout {
  padding-top: 20px;
}

/* line 32, ../sass/_main.scss */
.image {
  height: 500px;
  margin-top: 50px;
  vertical-align: top;
  text-align: center;
  width: 700px;
}


table.search_table {
    border-collapse: collapse;
    width: 100%;
}

table.search_table th {
    text-align: left;
    padding: 8px;
}

table.search_table td {
    text-align: left;
    padding: 8px;
}



table.search_table th {
background-color: rgba(255,255,255,0.3);}
