/*
 * Changing the background of the whole "body", I figure we can make the background of the container
 * to give some nice contrast
 */

body {
    background: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
	font-family: Verdana, Geneva, sans-serif;
}

.heading {
  padding-top: 20px;
  padding-left: 20px;
}

.main {
    @include border-radius(16px);
    background-color: #fff;
    padding-bottom: 20px;
}

.colorful {
  color: #bb8833;
}

#logout {
  padding-top: 20px;
}

.image{
    height: 500px;
    margin-top: 50px;
	vertical-align: top;
    text-align: center;
	width: 700px;
}

.main-container {

}