/*
 * Changing the background of the whole "body", I figure we can make the background of the container
 * to give some nice contrast
 */

body {
    background: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
	font-family: Verdana, Geneva, sans-serif;

    // Removing the extra space at top/bottom of page.
    padding-top: 0;
    margin-bottom: 0;
}

.heading {
  padding: 10px 0px 10px 10px;
}

.main {
    @include border-radius(16px);
    background-color: #fff;
    padding-bottom: 20px;
}

.colorful {
  color: #bb8833;
}

#logout {
  padding-top: 20px;
}

.image{
    height: 500px;
    margin-top: 5px;
	vertical-align: top;
    text-align: center;
	width: 700px;
    border:1px solid #021a40;

}

.profile_pic{
    height: 100px;
	width: 100px;
    padding:1px;
    border:1px solid #021a40;
}

.profile_pic-sm{
    height: 30px;
	width: 30px;
    padding:1px;
    border:1px groove #021a40;
}

#search-div {
  .form-horizontal {
    padding: 20px 40px 0 20px;
  }

  #submit_record__row {
    padding: 5px 0px 0px 25px;

    button {
      padding: 5px 0px 5px 0;
    }

  }
}

table {
  .search_table {
    border-collapse: collapse;
    width: 100%;

    th {
      text-align: left;
      padding: 8px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    td {
      text-align: left;
      padding: 8px;
    }

  }
}

#profile > div {
  display: inline-block;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
}

#header1 {
  font-family: 'Raleway',sans-serif;
  font-size: 38px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  vertical-align: bottom;
}

#header3 {
  padding-top: 10px;
  padding-right: 30px;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

#header4 {
  margin-top: 50px;
  padding-top: 10px;
  padding-right: 30px;
  font-family: 'Raleway',sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.image-wrapper-sm {
  position: relative;
  height: 30px;
  width: 30px;
  margin-top: 1px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}

.image-wrapper-sm img {
  height: 100%;
  width: 100%;
}


.image-wrapper {
  position: relative;
  height: 100px;
  width: 100px;
  margin-top: 10px;
  border-radius: 100%;
  overflow: hidden;
  float: left;
}

.image-wrapper img {
  height: 100%;
  width: 100%;
}

.image-wrapper .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0,.25);
  color: #fff;
  display: none;
}

.image-wrapper:hover .image-overlay {
   display: block;
  text-align: center;
}

.image-wrapper .image-overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 150px;
  margin-top: -10px;
  margin-left: -75px;
}

#follow {
    padding-left: 20px;
}
#follow > .button {
  padding: 7px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.button2 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid white;
}

.button2:hover {
    background-color: #ca1721;
    color: white;
}

.likes_comments {
  margin-left: 7%;
  margin-right: 7%;

  form {
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 10px;

    .form-group #add_comment_submit, #disabled_submit {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background-color: $post_comment;
      // This removes the dotted line after you click.
      outline: 0;

      &:hover {
        background-color: darken($post_comment, 10%);
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
      }

    }

  }

}

// For some reason I have to hardcode this :/
#disabled_submit {
  width: 73px;
}


// Modal CSS

.modal-mask button {
  @include border-radius(12px);
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


// End Modal CSS


/* line 81, ../sass/_dropzone.scss */
.dropzone, .dropzone * {
  box-sizing: border-box;
}

/* line 84, ../sass/_dropzone.scss */
.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px;
}
/* line 90, ../sass/_dropzone.scss */
.dropzone.dz-clickable {
  cursor: pointer;
}
/* line 93, ../sass/_dropzone.scss */
.dropzone.dz-clickable * {
  cursor: default;
}
/* line 97, ../sass/_dropzone.scss */
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer;
}
/* line 109, ../sass/_dropzone.scss */
.dropzone.dz-started .dz-message {
  display: none;
}
/* line 114, ../sass/_dropzone.scss */
.dropzone.dz-drag-hover {
  border-style: solid;
}
/* line 116, ../sass/_dropzone.scss */
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5;
}
/* line 120, ../sass/_dropzone.scss */
.dropzone .dz-message {
  text-align: center;
  margin: 1.5em 0;
}
/* line 125, ../sass/_dropzone.scss */
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px;
}
/* line 134, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover {
  z-index: 1000;
}
/* line 137, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
/* line 144, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  border: 1px solid #9bbdff;
  background: linear-gradient(to bottom, #d3e2ff, #b4ceff);
}
/* line 151, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1;
}
/* line 156, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-image-preview {
  background: white;
}
/* line 158, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 163, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none;
}
/* line 169, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline;
}
/* line 174, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover .dz-details {
  opacity: 1;
}
/* line 177, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 1em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%;
}
/* line 199, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 0.2em;
}
/* line 204, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap;
}
/* line 209, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 214, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 215, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent;
}
/* line 225, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px;
}
/* line 237, ../sass/_dropzone.scss */
.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px);
}
/* line 243, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 200px;
  height: 80px;
  position: relative;
  display: block;
  z-index: 10;
}
/* line 252, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-image img {
  display: block;
}
/* line 259, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}
/* line 264, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
}
/* line 271, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}
/* line 288, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px;
}
/* line 296, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/* line 300, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}
/* line 306, ../sass/_dropzone.scss */
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite;
}
/* line 310, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 58%;
  margin-top: 0px;
  width: 120px;
  margin-left: -60px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden;
}
/* line 335, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666666, #444444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}
/* line 349, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block;
}
/* line 352, ../sass/_dropzone.scss */
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto;
}
/* line 358, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 64px;
  left: -10px;
  width: 74px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white;
}
/* line 380, ../sass/_dropzone.scss */
.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 31px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626;
}
/* line 394, ../sass/_dropzone.scss */
.dropzone .dz-size strong {
  font-weight: normal;
}

/* line 399, ../sass/_dropzone.scss */
.dropzone {
  border: 2px dashed #4f80d2;
  border-radius: 5px;
  background: white;
  width: 90%;
  margin: 10px auto 20px auto;
}
/* line 405, ../sass/_dropzone.scss */
.dropzone .dz-message {
  font-weight: 400;
  font-size: 1.4em;
  color: #aaa;
}
/* line 409, ../sass/_dropzone.scss */
.dropzone .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: inline-block;
  width: 80%;
  margin-top: 1.4rem;
}
/* line 415, ../sass/_dropzone.scss */
.dropzone .dz-message .note .feature_list {
  margin-top: 10px;
  font-weight: normal;
  text-align: left;
  background: none;
  border: none;
  font-size: 0.9em;
}
/* line 422, ../sass/_dropzone.scss */
.dropzone .dz-message .note .feature_list .feature {
  width: 80%;
  float: left;
}
/* line 425, ../sass/_dropzone.scss */
.dropzone .dz-message .note .feature_list .feature .feature_text {
  float: left;
  color: #aaa;
}
/* line 433, ../sass/_dropzone.scss */
.dropzone .fa {
  color: #999;
}