/*
 * Changing the background of the whole "body", I figure we can make the background of the container
 * to give some nice contrast
 */

body {
    background: url(../images/background.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
	font-family: Verdana, Geneva, sans-serif;
}

.heading {
  padding-top: 20px;
  padding-left: 20px;
}

.main {
    @include border-radius(16px);
    background-color: #fff;
    padding-bottom: 20px;
}

.colorful {
  color: #bb8833;
}

#logout {
  padding-top: 20px;
}

.image{
    height: 500px;
    margin-top: 50px;
	vertical-align: top;
    text-align: center;
	width: 700px;
}

#search-div {
  .form-horizontal {
    padding: 20px 40px 0 20px;
  }

  #submit_record__row {
    padding: 5px 0px 0px 25px;

    button {
      padding: 5px 0px 5px 0;
    }

  }
}

table {
  .search_table {
    border-collapse: collapse;
    width: 100%;

    th {
      text-align: left;
      padding: 8px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    td {
      text-align: left;
      padding: 8px;
    }

  }
}
